App/UserApp/Service References/ServiceReference/BizService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Intersoft.CISSA.DataAccessLayer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intersoft.CISSA.DataAccessLayer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1296/BizService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1296/BizService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Intersoft.CISSA.DataAccessLayer.Model.Organizations" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgUnitTypeId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="OrgUnitTypeName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intersoft.CISSA.DataAccessLayer.Model.Organizations" minOccurs="0" name="Organization" nillable="true" type="q1:OrgInfo" />
      <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationTypeId" nillable="true" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intersoft.CISSA.DataAccessLayer.Model.Organizations" minOccurs="0" name="Position" nillable="true" type="q2:OrgPositionInfo" />
      <xs:element minOccurs="0" name="PositionId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PositionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="BizResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:BizResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BizResult" nillable="true" type="tns:BizResult" />
  <xs:simpleType name="BizResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Message" />
      <xs:enumeration value="User" />
      <xs:enumeration value="Form" />
      <xs:enumeration value="Report" />
      <xs:enumeration value="Query" />
      <xs:enumeration value="Action" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BizResultType" nillable="true" type="tns:BizResultType" />
  <xs:simpleType name="CompareOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="Great" />
      <xs:enumeration value="Less" />
      <xs:enumeration value="GreatEqual" />
      <xs:enumeration value="LessEqual" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="Like" />
      <xs:enumeration value="StartWith" />
      <xs:enumeration value="EndWith" />
      <xs:enumeration value="NotLike" />
      <xs:enumeration value="Levenstein" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompareOperation" nillable="true" type="tns:CompareOperation" />
  <xs:simpleType name="SortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortType" nillable="true" type="tns:SortType" />
  <xs:simpleType name="SystemIdent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="State" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="OrgId" />
      <xs:enumeration value="OrgName" />
      <xs:enumeration value="OrgCode" />
      <xs:enumeration value="UserId" />
      <xs:enumeration value="UserName" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="DefId" />
      <xs:enumeration value="InState" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SystemIdent" nillable="true" type="tns:SystemIdent" />
</xs:schema>