Utils/ProcessService/Service References/BizServiceReference/BizService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Intersoft.Cissa.Report.Context" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intersoft.Cissa.Report.Context" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BizService/BizService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Intersoft.Cissa.Report.Defs" />
  <xs:import schemaLocation="http://localhost/BizService/BizService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Intersoft.CISSA.DataAccessLayer.Model.Documents" />
  <xs:import schemaLocation="http://localhost/BizService/BizService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TableReportContext">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intersoft.Cissa.Report.Defs" minOccurs="0" name="Def" nillable="true" type="q1:ReportDef" />
      <xs:element minOccurs="0" name="SourceRelations" nillable="true" type="tns:ArrayOfReportSourceRelations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableReportContext" nillable="true" type="tns:TableReportContext" />
  <xs:complexType name="ArrayOfReportSourceRelations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportSourceRelations" nillable="true" type="tns:ReportSourceRelations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportSourceRelations" nillable="true" type="tns:ArrayOfReportSourceRelations" />
  <xs:complexType name="ReportSourceRelations">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intersoft.CISSA.DataAccessLayer.Model.Documents" minOccurs="0" name="Relations" nillable="true" type="q2:ArrayOfDocDefRelation" />
      <xs:element minOccurs="0" name="SourceId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportSourceRelations" nillable="true" type="tns:ReportSourceRelations" />
</xs:schema>